In [1]:
import os
os.chdir("..")

import pandas as pd

from src.classes.constants import SEED_ORDER, DATA_PATH, MODEL_PATH

In [2]:
df = pd.read_csv(f'{DATA_PATH}/tourney_outcomes.csv') # see get_trank_data.py
df.head()

,rk,team,pake,pase,wins,loss,w%,r64,r32,s16,...,f4,f2,champ,top2,f4%,champ%,season,conf,seed,region
0,1,Kansas,2.1,2.7,6,0,1.000,1,1,1,...,1,1,1,1,57.3%,29.6%,2008,B12,1.0,0
1,2,Davidson,1.6,2.4,3,1,0.750,1,1,1,...,0,0,0,0,7.8%,2.2%,2008,SC,10.0,0
2,3,Memphis,1.5,1.7,5,1,0.833,1,1,1,...,1,1,0,1,50.6%,20.2%,2008,CUSA,1.0,2
3,4,Villanova,1.4,1.5,2,1,0.667,1,1,1,...,0,0,0,0,0.9%,0.1%,2008,BE,12.0,0
4,5,Xavier,1.4,1.2,3,1,0.750,1,1,1,...,0,0,0,0,8.3%,0.8%,2008,A10,3.0,3

In [3]:
seasons = sorted(list(df.season.unique()))

incl_cols = ['season','team','seed','conf']
data = []
for s in seasons:
    season_df = df[df.season==s]
    regions = sorted(list(season_df.region.unique()))
    for r in regions: 
        region_df = season_df[season_df.region==r]
        seeds = sorted(list(region_df.seed.unique()))
        max_seed = max(seeds)
        for sd in SEED_ORDER: 
            # first four are excluded so this will be unique to each team
            team_info = list(region_df[region_df.seed==sd][incl_cols].values[0])

            data.append(team_info)

In [4]:
pd.DataFrame(data, columns=incl_cols).to_csv(f'{MODEL_PATH}tourney_teams.csv', index=False)